/***********************************************************************************************************************
DOCUMENT: style/format.css
DEVELOPED BY: Ryan Stemkoski
COMPANY: Zipline Interactive
EMAIL: ryan@gozipline.com
PHONE: 509-321-2849
DATE: 2/26/2009
DESCRIPTION: This document contains the structural formatting files for the accordion style menu.
************************************************************************************************************************/
#wrapper {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	}

.accordionButton {	
	width: 100%;
	float: left;
	_float: none;  /* Float works in all browsers but IE6 */
	background: url("../images/plus.png") no-repeat right center #34495e;
	border-bottom: 1px solid #34495e;
	border-top: 1px solid #4F92BF;
	cursor: pointer;
	padding: 20px;
	}
	
.accordionContent {	
	width: 100%;
	float: left;
	_float: none; /* Float works in all browsers but IE6 */
	background: #4F92BF;
	padding: 20px;
	color: #fff;
	
	}
	
/***********************************************************************************************************************
 EXTRA STYLES ADDED FOR MOUSEOVER / ACTIVE EVENTS
************************************************************************************************************************/

.on {
	background: #4F92BF;
	}
	
